@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
.h1-1{@apply text-h1 leading-h1 font-100;}
.h1-2{@apply text-h1 leading-h1 font-200;}
.h1-3{@apply text-h1 leading-h1 font-300;}
.h1-4{@apply text-h1 leading-h1 font-400;}
.h1-5{@apply text-h1 leading-h1 font-500;}
.h1-6{@apply text-h1 leading-h1 font-600;}
.h1-7{@apply text-h1 leading-h1 font-700;}
.h2-1{@apply text-h2 leading-h2 font-100;}
.h2-2{@apply text-h2 leading-h2 font-200;}
.h2-3{@apply text-h2 leading-h2 font-300;}
.h2-4{@apply text-h2 leading-h2 font-400;}
.h2-5{@apply text-h2 leading-h2 font-500;}
.h2-6{@apply text-h2 leading-h2 font-600;}
.h2-7{@apply text-h2 leading-h2 font-700;}
.h3-1{@apply text-h3 leading-h3 font-100;}
.h3-2{@apply text-h3 leading-h3 font-200;}
.h3-3{@apply text-h3 leading-h3 font-300;}
.h3-4{@apply text-h3 leading-h3 font-400;}
.h3-5{@apply text-h3 leading-h3 font-500;}
.h3-6{@apply text-h3 leading-h3 font-600;}
.h3-7{@apply text-h3 leading-h3 font-700;}
.h4-1{@apply text-h4 leading-h4 font-100;}
.h4-2{@apply text-h4 leading-h4 font-200;}
.h4-3{@apply text-h4 leading-h4 font-300;}
.h4-4{@apply text-h4 leading-h4 font-400;}
.h4-5{@apply text-h4 leading-h4 font-500;}
.h4-6{@apply text-h4 leading-h4 font-600;}
.h4-7{@apply text-h4 leading-h4 font-700;}
.h5-1{@apply text-h5 leading-h5 font-100;}
.h5-2{@apply text-h5 leading-h5 font-200;}
.h5-3{@apply text-h5 leading-h5 font-300;}
.h5-4{@apply text-h5 leading-h5 font-400;}
.h5-5{@apply text-h5 leading-h5 font-500;}
.h5-6{@apply text-h5 leading-h5 font-600;}
.h5-7{@apply text-h5 leading-h5 font-700;}
.h6-1{@apply text-h6 leading-h6 font-100;}
.h6-2{@apply text-h6 leading-h6 font-200;}
.h6-3{@apply text-h6 leading-h6 font-300;}
.h6-4{@apply text-h6 leading-h6 font-400;}
.h6-5{@apply text-h6 leading-h6 font-500;}
.h6-6{@apply text-h6 leading-h6 font-600;}
.h6-7{@apply text-h6 leading-h6 font-700;}
.b1-1{@apply text-b1 leading-b1 font-100;}
.b1-2{@apply text-b1 leading-b1 font-200;}
.b1-3{@apply text-b1 leading-b1 font-300;}
.b1-4{@apply text-b1 leading-b1 font-400;}
.b1-5{@apply text-b1 leading-b1 font-500;}
.b1-6{@apply text-b1 leading-b1 font-600;}
.b1-7{@apply text-b1 leading-b1 font-700;}
.b2-1{@apply text-b2 leading-b2 font-100;}
.b2-2{@apply text-b2 leading-b2 font-200;}
.b2-3{@apply text-b2 leading-b2 font-300;}
.b2-4{@apply text-b2 leading-b2 font-400;}
.b2-5{@apply text-b2 leading-b2 font-500;}
.b2-6{@apply text-b2 leading-b2 font-600;}
.b2-7{@apply text-b2 leading-b2 font-700;}
.b3-1{@apply text-b3 leading-b3 font-100;}
.b3-2{@apply text-b3 leading-b3 font-200;}
.b3-3{@apply text-b3 leading-b3 font-300;}
.b3-4{@apply text-b3 leading-b3 font-400;}
.b3-5{@apply text-b3 leading-b3 font-500;}
.b3-6{@apply text-b3 leading-b3 font-600;}
.b3-7{@apply text-b3 leading-b3 font-700;}
.c1-1{@apply text-c1 leading-c1 font-100;}
.c1-2{@apply text-c1 leading-c1 font-200;}
.c1-3{@apply text-c1 leading-c1 font-300;}
.c1-4{@apply text-c1 leading-c1 font-400;}
.c1-5{@apply text-c1 leading-c1 font-500;}
.c1-6{@apply text-c1 leading-c1 font-600;}
.c1-7{@apply text-c1 leading-c1 font-700;}
:root {
 
--max-width: 500px;
--gxs: 1px;
--gs: 3px;
--gm: 5px;
--gl: 9px;
--gxl: 17px;
--g2xl: 19px;
--g3xl: 28px;
--g4xl: 42px;
--mxs: 1px;
--ms: 3px;
--mm: 5px;
--ml: 9px;
--mxl: 17px;
--m2xl: 19px;
--m3xl: 28px;
--m4xl: 42px;
--pxs: 1px;
--ps: 3px;
--pm: 5px;
--pl: 9px;
--pxl: 17px;
--p2xl: 19px;
--p3xl: 28px;
--p4xl: 42px;
--rxs: 1px;
--rs: 3px;
--rm: 5px;
--rl: 7px;
--rxl: 9px;
--r2xl: 11px;
--r3xl: 13px;
--r4xl: 15px;
--ixs: 1px;
--is: 3px;
--im: 7px;
--il: 13px;
--ixl: 23px;
--i2xl: 30px;
--i3xl: 42px;
--i4xl: 53px;
--ixs: 1px;
--is: 3px;
--im: 7px;
--il: 13px;
--ixl: 23px;
--i2xl: 30px;
--i3xl: 42px;
--i4xl: 53px;
--font-H6: 6px;
--font-H5: 7px;
--font-H4: 8px;
--font-H3: 10px;
--font-H2: 14px;
--font-H1: 17px;
--font-body-1: 5px;
--font-body-2: 6px;
--font-body-3: 7px;
--font-caption-1: 5px;
--leading-H6: 10px;
--leading-H5: 11px;
--leading-H4: 12px;
--leading-H3: 15px;
--leading-H2: 21px;
--leading-H1: 25px;
--leading-body-1: 8px;
--leading-body-2: 10px;
--leading-body-3: 11px;
--leading-caption-1: 8px;
--weight-100: 100;
--weight-200: 200;
--weight-300: 300;
--weight-400: 400;
--weight-500: 500;
--weight-600: 600;
--weight-700: 700;
--weight-800: 800;
--weight-900: 900;
}@media (min-width: 0px) and (max-width: 499px) {
  :root {--max-width: 500px;
--gxs: 1px;
--gs: 3px;
--gm: 5px;
--gl: 9px;
--gxl: 17px;
--g2xl: 19px;
--g3xl: 28px;
--g4xl: 42px;
--mxs: 1px;
--ms: 3px;
--mm: 5px;
--ml: 9px;
--mxl: 17px;
--m2xl: 19px;
--m3xl: 28px;
--m4xl: 42px;
--pxs: 1px;
--ps: 3px;
--pm: 5px;
--pl: 9px;
--pxl: 17px;
--p2xl: 19px;
--p3xl: 28px;
--p4xl: 42px;
--rxs: 1px;
--rs: 3px;
--rm: 5px;
--rl: 7px;
--rxl: 9px;
--r2xl: 11px;
--r3xl: 13px;
--r4xl: 15px;
--ixs: 1px;
--is: 3px;
--im: 7px;
--il: 13px;
--ixl: 23px;
--i2xl: 30px;
--i3xl: 42px;
--i4xl: 53px;
--ixs: 1px;
--is: 3px;
--im: 7px;
--il: 13px;
--ixl: 23px;
--i2xl: 30px;
--i3xl: 42px;
--i4xl: 53px;
--font-H6: 6px;
--font-H5: 7px;
--font-H4: 8px;
--font-H3: 10px;
--font-H2: 14px;
--font-H1: 17px;
--font-body-1: 5px;
--font-body-2: 6px;
--font-body-3: 7px;
--font-caption-1: 5px;
--leading-H6: 10px;
--leading-H5: 11px;
--leading-H4: 12px;
--leading-H3: 15px;
--leading-H2: 21px;
--leading-H1: 25px;
--leading-body-1: 8px;
--leading-body-2: 10px;
--leading-body-3: 11px;
--leading-caption-1: 8px;
--weight-100: 100;
--weight-200: 200;
--weight-300: 300;
--weight-400: 400;
--weight-500: 500;
--weight-600: 600;
--weight-700: 700;
--weight-800: 800;
--weight-900: 900;
}}@media (min-width: 500px) and (max-width: 800px) {
  :root {--max-width: 720px;
--gxs: 2px;
--gs: 4px;
--gm: 6px;
--gl: 10px;
--gxl: 19px;
--g2xl: 21px;
--g3xl: 32px;
--g4xl: 47px;
--mxs: 2px;
--ms: 4px;
--mm: 6px;
--ml: 10px;
--mxl: 19px;
--m2xl: 21px;
--m3xl: 32px;
--m4xl: 47px;
--pxs: 2px;
--ps: 4px;
--pm: 6px;
--pl: 10px;
--pxl: 19px;
--p2xl: 21px;
--p3xl: 32px;
--p4xl: 47px;
--rxs: 2px;
--rs: 4px;
--rm: 6px;
--rl: 8px;
--rxl: 10px;
--r2xl: 13px;
--r3xl: 15px;
--r4xl: 17px;
--ixs: 2px;
--is: 4px;
--im: 8px;
--il: 15px;
--ixl: 26px;
--i2xl: 34px;
--i3xl: 47px;
--i4xl: 60px;
--ixs: 2px;
--is: 4px;
--im: 8px;
--il: 15px;
--ixl: 26px;
--i2xl: 34px;
--i3xl: 47px;
--i4xl: 60px;
--font-H6: 7px;
--font-H5: 8px;
--font-H4: 9px;
--font-H3: 11px;
--font-H2: 16px;
--font-H1: 19px;
--font-body-1: 6px;
--font-body-2: 7px;
--font-body-3: 8px;
--font-caption-1: 6px;
--leading-H6: 11px;
--leading-H5: 13px;
--leading-H4: 14px;
--leading-H3: 17px;
--leading-H2: 24px;
--leading-H1: 29px;
--leading-body-1: 9px;
--leading-body-2: 11px;
--leading-body-3: 13px;
--leading-caption-1: 9px;
--weight-100: 100;
--weight-200: 200;
--weight-300: 300;
--weight-400: 400;
--weight-500: 500;
--weight-600: 600;
--weight-700: 700;
--weight-800: 800;
--weight-900: 900;
}}@media (min-width: 801px) and (max-width: 1024px) {
  :root {--max-width: 720px;
--gxs: 2px;
--gs: 4px;
--gm: 7px;
--gl: 12px;
--gxl: 22px;
--g2xl: 24px;
--g3xl: 36px;
--g4xl: 53px;
--mxs: 2px;
--ms: 4px;
--mm: 7px;
--ml: 12px;
--mxl: 22px;
--m2xl: 24px;
--m3xl: 36px;
--m4xl: 53px;
--pxs: 2px;
--ps: 4px;
--pm: 7px;
--pl: 12px;
--pxl: 22px;
--p2xl: 24px;
--p3xl: 36px;
--p4xl: 53px;
--rxs: 2px;
--rs: 4px;
--rm: 7px;
--rl: 9px;
--rxl: 12px;
--r2xl: 14px;
--r3xl: 17px;
--r4xl: 19px;
--ixs: 2px;
--is: 4px;
--im: 9px;
--il: 17px;
--ixl: 29px;
--i2xl: 39px;
--i3xl: 53px;
--i4xl: 68px;
--ixs: 2px;
--is: 4px;
--im: 9px;
--il: 17px;
--ixl: 29px;
--i2xl: 39px;
--i3xl: 53px;
--i4xl: 68px;
--font-H6: 8px;
--font-H5: 9px;
--font-H4: 11px;
--font-H3: 13px;
--font-H2: 18px;
--font-H1: 22px;
--font-body-1: 7px;
--font-body-2: 8px;
--font-body-3: 9px;
--font-caption-1: 7px;
--leading-H6: 12px;
--leading-H5: 14px;
--leading-H4: 16px;
--leading-H3: 20px;
--leading-H2: 27px;
--leading-H1: 33px;
--leading-body-1: 11px;
--leading-body-2: 12px;
--leading-body-3: 14px;
--leading-caption-1: 11px;
--weight-100: 100;
--weight-200: 200;
--weight-300: 300;
--weight-400: 400;
--weight-500: 500;
--weight-600: 600;
--weight-700: 700;
--weight-800: 800;
--weight-900: 900;
}}@media (min-width: 1025px) and (max-width: 1440px) {
  :root {--max-width: 880px;
--gxs: 2px;
--gs: 5px;
--gm: 8px;
--gl: 13px;
--gxl: 24px;
--g2xl: 27px;
--g3xl: 41px;
--g4xl: 60px;
--mxs: 2px;
--ms: 5px;
--mm: 8px;
--ml: 13px;
--mxl: 24px;
--m2xl: 27px;
--m3xl: 41px;
--m4xl: 60px;
--pxs: 2px;
--ps: 5px;
--pm: 8px;
--pl: 13px;
--pxl: 24px;
--p2xl: 27px;
--p3xl: 41px;
--p4xl: 60px;
--rxs: 2px;
--rs: 5px;
--rm: 8px;
--rl: 11px;
--rxl: 13px;
--r2xl: 16px;
--r3xl: 19px;
--r4xl: 22px;
--ixs: 2px;
--is: 5px;
--im: 11px;
--il: 19px;
--ixl: 33px;
--i2xl: 44px;
--i3xl: 60px;
--i4xl: 77px;
--ixs: 2px;
--is: 5px;
--im: 11px;
--il: 19px;
--ixl: 33px;
--i2xl: 44px;
--i3xl: 60px;
--i4xl: 77px;
--font-H6: 9px;
--font-H5: 11px;
--font-H4: 12px;
--font-H3: 15px;
--font-H2: 20px;
--font-H1: 24px;
--font-body-1: 8px;
--font-body-2: 9px;
--font-body-3: 11px;
--font-caption-1: 8px;
--leading-H6: 14px;
--leading-H5: 16px;
--leading-H4: 18px;
--leading-H3: 22px;
--leading-H2: 31px;
--leading-H1: 37px;
--leading-body-1: 12px;
--leading-body-2: 14px;
--leading-body-3: 16px;
--leading-caption-1: 12px;
--weight-100: 100;
--weight-200: 200;
--weight-300: 300;
--weight-400: 400;
--weight-500: 500;
--weight-600: 600;
--weight-700: 700;
--weight-800: 800;
--weight-900: 900;
}}@media (min-width: 1441px) and (max-width: 1660px) {
  :root {--max-width: 1024px;
--gxs: 3px;
--gs: 7px;
--gm: 10px;
--gl: 17px;
--gxl: 31px;
--g2xl: 35px;
--g3xl: 53px;
--g4xl: 77px;
--mxs: 3px;
--ms: 7px;
--mm: 10px;
--ml: 17px;
--mxl: 31px;
--m2xl: 35px;
--m3xl: 53px;
--m4xl: 77px;
--pxs: 3px;
--ps: 7px;
--pm: 10px;
--pl: 17px;
--pxl: 31px;
--p2xl: 35px;
--p3xl: 53px;
--p4xl: 77px;
--rxs: 3px;
--rs: 7px;
--rm: 10px;
--rl: 14px;
--rxl: 17px;
--r2xl: 21px;
--r3xl: 24px;
--r4xl: 28px;
--ixs: 3px;
--is: 7px;
--im: 14px;
--il: 24px;
--ixl: 42px;
--i2xl: 56px;
--i3xl: 77px;
--i4xl: 99px;
--ixs: 3px;
--is: 7px;
--im: 14px;
--il: 24px;
--ixl: 42px;
--i2xl: 56px;
--i3xl: 77px;
--i4xl: 99px;
--font-H6: 12px;
--font-H5: 14px;
--font-H4: 15px;
--font-H3: 19px;
--font-H2: 26px;
--font-H1: 31px;
--font-body-1: 10px;
--font-body-2: 12px;
--font-body-3: 14px;
--font-caption-1: 10px;
--leading-H6: 18px;
--leading-H5: 21px;
--leading-H4: 23px;
--leading-H3: 29px;
--leading-H2: 39px;
--leading-H1: 47px;
--leading-body-1: 15px;
--leading-body-2: 18px;
--leading-body-3: 21px;
--leading-caption-1: 15px;
--weight-100: 100;
--weight-200: 200;
--weight-300: 300;
--weight-400: 400;
--weight-500: 500;
--weight-600: 600;
--weight-700: 700;
--weight-800: 800;
--weight-900: 900;
}}@media (min-width: 1661px) and (max-width: 1920px) {
  :root {--max-width: 1120px;
--gxs: 4px;
--gs: 8px;
--gm: 13px;
--gl: 22px;
--gxl: 40px;
--g2xl: 44px;
--g3xl: 66px;
--g4xl: 98px;
--mxs: 4px;
--ms: 8px;
--mm: 13px;
--ml: 22px;
--mxl: 40px;
--m2xl: 44px;
--m3xl: 66px;
--m4xl: 98px;
--pxs: 4px;
--ps: 8px;
--pm: 13px;
--pl: 22px;
--pxl: 40px;
--p2xl: 44px;
--p3xl: 66px;
--p4xl: 98px;
--rxs: 4px;
--rs: 8px;
--rm: 13px;
--rl: 17px;
--rxl: 22px;
--r2xl: 26px;
--r3xl: 31px;
--r4xl: 35px;
--ixs: 4px;
--is: 8px;
--im: 17px;
--il: 31px;
--ixl: 53px;
--i2xl: 71px;
--i3xl: 98px;
--i4xl: 124px;
--ixs: 4px;
--is: 8px;
--im: 17px;
--il: 31px;
--ixl: 53px;
--i2xl: 71px;
--i3xl: 98px;
--i4xl: 124px;
--font-H6: 15px;
--font-H5: 17px;
--font-H4: 20px;
--font-H3: 24px;
--font-H2: 33px;
--font-H1: 40px;
--font-body-1: 13px;
--font-body-2: 15px;
--font-body-3: 17px;
--font-caption-1: 13px;
--leading-H6: 23px;
--leading-H5: 26px;
--leading-H4: 30px;
--leading-H3: 36px;
--leading-H2: 50px;
--leading-H1: 60px;
--leading-body-1: 20px;
--leading-body-2: 23px;
--leading-body-3: 26px;
--leading-caption-1: 20px;
--weight-100: 100;
--weight-200: 200;
--weight-300: 300;
--weight-400: 400;
--weight-500: 500;
--weight-600: 600;
--weight-700: 700;
--weight-800: 800;
--weight-900: 900;
}}@media (min-width: 1921px) and (max-width: 2560px) {
  :root {--max-width: 1120px;
--gxs: 4px;
--gs: 9px;
--gm: 14px;
--gl: 24px;
--gxl: 44px;
--g2xl: 49px;
--g3xl: 74px;
--g4xl: 109px;
--mxs: 4px;
--ms: 9px;
--mm: 14px;
--ml: 24px;
--mxl: 44px;
--m2xl: 49px;
--m3xl: 74px;
--m4xl: 109px;
--pxs: 4px;
--ps: 9px;
--pm: 14px;
--pl: 24px;
--pxl: 44px;
--p2xl: 49px;
--p3xl: 74px;
--p4xl: 109px;
--rxs: 4px;
--rs: 9px;
--rm: 14px;
--rl: 19px;
--rxl: 24px;
--r2xl: 29px;
--r3xl: 34px;
--r4xl: 39px;
--ixs: 4px;
--is: 9px;
--im: 19px;
--il: 34px;
--ixl: 59px;
--i2xl: 79px;
--i3xl: 109px;
--i4xl: 139px;
--ixs: 4px;
--is: 9px;
--im: 19px;
--il: 34px;
--ixl: 59px;
--i2xl: 79px;
--i3xl: 109px;
--i4xl: 139px;
--font-H6: 17px;
--font-H5: 19px;
--font-H4: 22px;
--font-H3: 27px;
--font-H2: 37px;
--font-H1: 44px;
--font-body-1: 14px;
--font-body-2: 17px;
--font-body-3: 19px;
--font-caption-1: 14px;
--leading-H6: 26px;
--leading-H5: 29px;
--leading-H4: 33px;
--leading-H3: 41px;
--leading-H2: 55px;
--leading-H1: 67px;
--leading-body-1: 22px;
--leading-body-2: 26px;
--leading-body-3: 29px;
--leading-caption-1: 22px;
--weight-100: 100;
--weight-200: 200;
--weight-300: 300;
--weight-400: 400;
--weight-500: 500;
--weight-600: 600;
--weight-700: 700;
--weight-800: 800;
--weight-900: 900;
}}@media (min-width: 2561px) and (max-width: 10000px) {
  :root {--max-width: 1280px;
--gxs: 5px;
--gs: 11px;
--gm: 16px;
--gl: 27px;
--gxl: 49px;
--g2xl: 55px;
--g3xl: 83px;
--g4xl: 121px;
--mxs: 5px;
--ms: 11px;
--mm: 16px;
--ml: 27px;
--mxl: 49px;
--m2xl: 55px;
--m3xl: 83px;
--m4xl: 121px;
--pxs: 5px;
--ps: 11px;
--pm: 16px;
--pl: 27px;
--pxl: 49px;
--p2xl: 55px;
--p3xl: 83px;
--p4xl: 121px;
--rxs: 5px;
--rs: 11px;
--rm: 16px;
--rl: 22px;
--rxl: 27px;
--r2xl: 33px;
--r3xl: 38px;
--r4xl: 44px;
--ixs: 5px;
--is: 11px;
--im: 22px;
--il: 38px;
--ixl: 66px;
--i2xl: 88px;
--i3xl: 121px;
--i4xl: 155px;
--ixs: 5px;
--is: 11px;
--im: 22px;
--il: 38px;
--ixl: 66px;
--i2xl: 88px;
--i3xl: 121px;
--i4xl: 155px;
--font-H6: 19px;
--font-H5: 22px;
--font-H4: 24px;
--font-H3: 30px;
--font-H2: 41px;
--font-H1: 49px;
--font-body-1: 16px;
--font-body-2: 19px;
--font-body-3: 22px;
--font-caption-1: 16px;
--leading-H6: 29px;
--leading-H5: 33px;
--leading-H4: 37px;
--leading-H3: 45px;
--leading-H2: 62px;
--leading-H1: 74px;
--leading-body-1: 24px;
--leading-body-2: 29px;
--leading-body-3: 33px;
--leading-caption-1: 24px;
--weight-100: 100;
--weight-200: 200;
--weight-300: 300;
--weight-400: 400;
--weight-500: 500;
--weight-600: 600;
--weight-700: 700;
--weight-800: 800;
--weight-900: 900;
}}}